*{
    padding: 0; 
    margin: auto;
}

body{
    
}

/**
Div geral é amadorismo dona camila...

n desaprende...
*/
.geral{
    width:980px;
    height:auto;
    margin:auto;
}

.header{
    padding-bottom: 5px;
    width:980px;
    height:150px;
    float:left;
    margin-bottom: 20px;
}

.logo{
    float:left;
    margin:20px;
}

.menu{
    width:70%;
    height:40px;
    float:left;
    margin-top: 98px !important;
	border-bottom:2px solid #015697;
	padding: 0 10px;
}

.menu ul{
    width:550px;
    height:40px;
    margin:0;
    padding:0;
}

.menu ul li {
    background-image: url("/images/abaMenu.png");
    background-repeat: no-repeat;
    display: inline;
    float: left;
    height: 40px;
    margin: 0 2px;
    padding: 10px 0 0;
    text-align: center;
    width: 124px;
}

.menu ul li > ul li{
    clear: right;
    margin-top: -29px;
}

.menu ul ul{
    margin-left: 124px;
}

.menu ul li a {
    color: #FFFFFF;
    font-family: calibri,arial,tahoma;
    font-size: 16px;
    text-decoration: none;
}

.content{
    width:980px;
    padding:20px;
    height:auto;
    float:left;
}

.content label{
    color: #666;
    font-family:calibri, arial, tahoma;
    font-size: 20px;
    margin:30px 10px;
    text-decoration: none;
    float:left;
    font-weight:bold;
}

#ticket-element input{
    background-image:url('/images/bgInput.png');
    background-repeat:no-repeat;
    width:204px;
    height:44px;
    border:none;
    padding:10px;
    color:#666;
    font-family:calibri, arial, tahoma;
    font-size:14px;
    float:left;
    background-color:transparent;
    margin:20px;
}

#submit-element input{
    background-image:url('/images/btPagar.png');
    background-repeat:no-repeat;
    width:204px;
    height:44px;
    border:none;
    background-color:transparent;
    float:left;
    margin:0;
}

div.bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #ccc;
}